<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>HEY this is Rahul</p>
    {% for name in data %}
    <P>{{name}}</P>
    {% endfor %}
    <!-- ENVIRONMENT VARIABLES -->
    {% for key, value in env.items () %}
    <P>{{key}}: {{value}}</P>
    {% endfor %}
</body>
<style>
    body{
        background-color: black;
        color: yellow;
    }
</style>
</html>